.footer {
    padding-block: 80px 40px;
    width: 100%;
    background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
    border-radius: 40px 40px 0 0;
}

.footer__signin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 32px;
    gap: 20px;
    background: #003459;
    border-radius: 16px;
}

.footer__wrapper {
    width: calc(100% - 130*2px);
    margin: auto;
}

.footer__signin-box {
    display: flex;
    background-color: white;
    padding: 12px;
    border-radius: 8px;
    gap: 12px;
}

.footer__title {
    width: calc(100% - 710px);
    height: 72px;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    text-transform: capitalize;
    color: #FDFDFD;
    display: flex;
    align-items: center;
}

.footer__input{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 28px;
    gap: 10px;
    width: 456px;
    background: #FFFFFF;
    border: 1px solid #99A2A5;
    border-radius: 8px;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #99A2A5;
    outline: none;
}
.footer__signin-box input::placeholder {
    color: #99A2A5;
}
.footer__signin-box button {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 12px 28px;
    background: #003459;
    border-radius: 8px;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    color: #FDFDFD;
    border: none;
}

.footer__navmenu {
    display: flex;
    justify-content: space-between;
    padding-block: 40px;
    border-bottom: 1px solid #CCD1D2;
}

.nav--left {
    display: flex;
    list-style: none;
    gap: 60px;
}

.nav--left a {
    text-decoration: none;
    height: 24px;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #00171F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav--right {
    display: flex;
    list-style: none;
    gap: 40px;
}

.footer__more {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.footer__copyright {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #667479;
}
.footer__terms{
    display: flex;
    gap: 32px;
}
.footer__terms * {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #667479;

}
